##### step 1. load the iris.csv dataset.

In [64]:
import pandas as pd 
import numpy as np 
iris_df=pd.read_csv(r"C:\Users\mdimr\Downloads\1569614-1567135-1541251-Pandas_assignment\Pandas_assignment\Pandas_day_1\Iris.csv")
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

##### 1. Write a Pandas program to get the data types of the given csv data (iris.csv ) fields

In [65]:
data_types = iris_df.dtypes
print(data_types)

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

##### 2. Write a Pandas program to find the sum, mean, max, min value of 'SepalLengthCm' column of dataframe

In [66]:
# Sum of 'SepalLengthCm' column
sum_value = iris_df['SepalLengthCm'].sum()

# Mean of 'SepalLengthCm' column
mean_value = iris_df['SepalLengthCm'].mean()

# Maximum value of 'SepalLengthCm' column
max_value = iris_df['SepalLengthCm'].max()

# Minimum value of 'SepalLengthCm' column
min_value = iris_df['SepalLengthCm'].min()

# Display the results
print(f"Sum: {sum_value}")
print(f"Mean: {mean_value}")
print(f"Max: {max_value}")
print(f"Min: {min_value}")

Sum: 876.5
Mean: 5.843333333333334
Max: 7.9
Min: 4.3

##### 3. Write a Pandas program to import iris data and skipping first twenty rows into a Pandas dataframe.

In [67]:
import pandas as pd

# Replace 'your_file_path.csv' with the actual path to your iris dataset
iris_df = pd.read_csv(r"C:\Users\mdimr\Downloads\1569614-1567135-1541251-Pandas_assignment\Pandas_assignment\Pandas_day_1\Iris.csv", skiprows=range(1, 21))

# Display the DataFrame
iris_df
### code here

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,21,5.4,3.4,1.7,0.2,Iris-setosa
1,22,5.1,3.7,1.5,0.4,Iris-setosa
2,23,4.6,3.6,1.0,0.2,Iris-setosa
3,24,5.1,3.3,1.7,0.5,Iris-setosa
4,25,4.8,3.4,1.9,0.2,Iris-setosa
...,...,...,...,...,...,...
125,146,6.7,3.0,5.2,2.3,Iris-virginica
126,147,6.3,2.5,5.0,1.9,Iris-virginica
127,148,6.5,3.0,5.2,2.0,Iris-virginica
128,149,6.2,3.4,5.4,2.3,Iris-virginica
129,150,5.9,3.0,5.1,1.8,Iris-virginica

In [68]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             130 non-null    int64
 1   SepalLengthCm  130 non-null    float64
 2   SepalWidthCm   130 non-null    float64
 3   PetalLengthCm  130 non-null    float64
 4   PetalWidthCm   130 non-null    float64
 5   Species        130 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 6.2+ KB

##### 4. Write a Pandas program to display the last ten rows.

In [69]:
# Display the last ten rows
last_ten_rows = iris_df.tail(10)
last_ten_rows

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
120,141,6.7,3.1,5.6,2.4,Iris-virginica
121,142,6.9,3.1,5.1,2.3,Iris-virginica
122,143,5.8,2.7,5.1,1.9,Iris-virginica
123,144,6.8,3.2,5.9,2.3,Iris-virginica
124,145,6.7,3.3,5.7,2.5,Iris-virginica
125,146,6.7,3.0,5.2,2.3,Iris-virginica
126,147,6.3,2.5,5.0,1.9,Iris-virginica
127,148,6.5,3.0,5.2,2.0,Iris-virginica
128,149,6.2,3.4,5.4,2.3,Iris-virginica
129,150,5.9,3.0,5.1,1.8,Iris-virginica

##### 5. Write a Pandas program to create a subtotal of "PetalLengthCm" against Species from the dataframe.

In [70]:
# Create a subtotal of "PetalLengthCm" against "Species"
subtotal_petal_length = iris_df.groupby('Species')['PetalLengthCm'].sum().reset_index()
subtotal_petal_length

           Species  PetalLengthCm
0      Iris-setosa           44.5
1  Iris-versicolor          213.0
2   Iris-virginica          277.6

###### 6. Write a Pandas program to find details where "PetalLengthCm" > 2.

In [71]:
# Filter rows where "PetalLengthCm" > 2
filtered_data = iris_df[iris_df['PetalLengthCm'] > 2]

filtered_data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
30,51,7.0,3.2,4.7,1.4,Iris-versicolor
31,52,6.4,3.2,4.5,1.5,Iris-versicolor
32,53,6.9,3.1,4.9,1.5,Iris-versicolor
33,54,5.5,2.3,4.0,1.3,Iris-versicolor
34,55,6.5,2.8,4.6,1.5,Iris-versicolor
...,...,...,...,...,...,...
125,146,6.7,3.0,5.2,2.3,Iris-virginica
126,147,6.3,2.5,5.0,1.9,Iris-virginica
127,148,6.5,3.0,5.2,2.0,Iris-virginica
128,149,6.2,3.4,5.4,2.3,Iris-virginica
129,150,5.9,3.0,5.1,1.8,Iris-virginica

###### 7. Write a Pandas program find all records that include two specific Species.

In [72]:
# Specify the two specific species you want to filter
target_species = ['setosa', 'versicolor']

# Filter records where "Species" matches the specified values
filtered_data = iris_df[iris_df['Species'].isin(target_species)]

print(filtered_data)

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

###### 8.  Write a Pandas program to sort the records by the SepalLengthCm column.

In [73]:
# Sort the DataFrame by 'SepalLengthCm' column
sorted_iris_df = iris_df.sort_values(by='SepalLengthCm')

# Display the sorted DataFrame
print(sorted_iris_df)

# Sort the DataFrame by 'SepalLengthCm' column in descending order
sorted_iris_df_desc = iris_df.sort_values(by='SepalLengthCm', ascending=False)

# Display the sorted DataFrame
print(sorted_iris_df_desc)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
22    43            4.4           3.2            1.3           0.2
18    39            4.4           3.0            1.3           0.2
21    42            4.5           2.3            1.3           0.3
2     23            4.6           3.6            1.0           0.2
27    48            4.6           3.2            1.4           0.2
..   ...            ...           ...            ...           ...
115  136            7.7           3.0            6.1           2.3
102  123            7.7           2.8            6.7           2.0
98   119            7.7           2.6            6.9           2.3
97   118            7.7           3.8            6.7           2.2
111  132            7.9           3.8            6.4           2.0

            Species
22      Iris-setosa
18      Iris-setosa
21      Iris-setosa
2       Iris-setosa
27      Iris-setosa
..              ...
115  Iris-virginica
102  Iris-virginica
98   Iris-virginica
97   Iris-virginica
111  Iris-virginica

[130 rows x 6 columns]
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
111  132            7.9           3.8            6.4           2.0
98   119            7.7           2.6            6.9           2.3
115  136            7.7           3.0            6.1           2.3
102  123            7.7           2.8            6.7           2.0
97   118            7.7           3.8            6.7           2.2
..   ...            ...           ...            ...           ...
27    48            4.6           3.2            1.4           0.2
2     23            4.6           3.6            1.0           0.2
21    42            4.5           2.3            1.3           0.3
18    39            4.4           3.0            1.3           0.2
22    43            4.4           3.2            1.3           0.2

            Species
111  Iris-virginica
98   Iris-virginica
115  Iris-virginica
102  Iris-virginica
97   Iris-virginica
..              ...
27      Iris-setosa
2       Iris-setosa
21      Iris-setosa
18      Iris-setosa
22      Iris-setosa

[130 rows x 6 columns]

##### 9. Write a Pandas program to insert a column in the sixth position of dataframe and fill it with NaN values.

In [75]:
new_column_name = 'AnotherNewColumn'
df.insert(5, new_column_name, np.nan)

# Display the updated DataFrame
print(df)

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0        1            5.1           3.5            1.4           0.2
1        2            4.9           3.0            1.4           0.2
2        3            4.7           3.2            1.3           0.2
3        4            4.6           3.1            1.5           0.2
4        5            5.0           3.6            1.4           0.2
..     ...            ...           ...            ...           ...
146    147            6.3           2.5            5.0           1.9
147    148            6.5           3.0            5.2           2.0
148    149            6.2           3.4            5.4           2.3
149    150            5.9           3.0            5.1           1.8
Sum  22650         1753.0         916.2         1127.6         359.6

     AnotherNewColumn  NewColumn  \
0                 NaN        NaN
1                 NaN        NaN
2                 NaN        NaN
3                 NaN        NaN
4                 NaN        NaN
..                ...        ...
146               NaN        NaN
147               NaN        NaN
148               NaN        NaN
149               NaN        NaN
Sum               NaN        0.0

                                               Species
0                                          Iris-setosa
1                                          Iris-setosa
2                                          Iris-setosa
3                                          Iris-setosa
4                                          Iris-setosa
..                                                 ...
146                                     Iris-virginica
147                                     Iris-virginica
148                                     Iris-virginica
149                                     Iris-virginica
Sum  Iris-setosaIris-setosaIris-setosaIris-setosaIr...

[151 rows x 8 columns]

##### 10. Write a Pandas program to add summation to a row of the dataframe.

In [38]:
# Add a row containing the summation of each column
df.loc['Sum'] = df.sum()
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,NewColumn,Species
0,1,5.1,3.5,1.4,0.2,NaN,Iris-setosa
1,2,4.9,3.0,1.4,0.2,NaN,Iris-setosa
2,3,4.7,3.2,1.3,0.2,NaN,Iris-setosa
3,4,4.6,3.1,1.5,0.2,NaN,Iris-setosa
4,5,5.0,3.6,1.4,0.2,NaN,Iris-setosa
...,...,...,...,...,...,...,...
146,147,6.3,2.5,5.0,1.9,NaN,Iris-virginica
147,148,6.5,3.0,5.2,2.0,NaN,Iris-virginica
148,149,6.2,3.4,5.4,2.3,NaN,Iris-virginica
149,150,5.9,3.0,5.1,1.8,NaN,Iris-virginica
Sum,22650,1753.0,916.2,1127.6,359.6,0.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...